
.Room {
	width: 500px;
	height: 500px;
	padding: 10px;
	border: 5px solid gray;
	margin: 20px;
}

.Room_name {
	font-size: 15px;
}

.Room_tables {
	padding: 40px 10px;
	text-align: center;	
}

.Row {
	display: inline-flex;
	padding: 10px 10px;
}
.Column {
	display: inline-flex;
	padding: 20px 40px;
}